body{
  margin:0;
  font-family:Arial;
  background:#eef0f1;
}
.hero{
  text-align:center;
  padding:40px;
  background:black;
  color:white;
}
.profile-pic{
  width:160px;
  height:160px;
  border-radius:50%;
  object-fit:cover;
  border:3px solid white;
}
.card{
  background:white;
  margin:20px;
  padding:20px;
  border-radius:10px;
}
.btn{
  background:white;
  padding:10px 20px;
  border-radius:5px;
  text-decoration:none;
  color:black;
  font-weight:bold;
}
footer{
  text-align:center;
  padding:20px;
  background:#222;
  color:white;
}
